:root {
	--spotify-green: #1DB954;
	--spotify-black: #191414;
	--spotify-white: #FFFFFF;
	--spotify-grey: #1f1c1c;
}

body {
	background-color: var(--spotify-black);
	color: var(--spotify-white);
	overflow-x: hidden;
	font-family: Helvetica Neue, helvetica, arial, Hiragino Kaku Gothic Pro, Meiryo, MS Gothic, sans-serif;
}

#auth_button {
	margin: .4rem;
}


.top-playlists {
	background: var(--spotify-black);
}

.playlists {
	margin-left: 15;
}


.playlists>.card-deck {
	overflow-x: auto;
	display: inline-block;
	white-space: nowrap;
	-webkit-overflow-scrolling: touch;

}

.playlists ::-webkit-scrollbar {
	display: none;
}

.playlist_card {
	flex: 0 0 100% !important;
	display: inline-block;
	white-space: block;
	text-decoration: none;
	color: var(--spotify-white);
	/* font-size: smaller; */
	/* min-width: 150px; */
	/* min-width: 26%; */
	margin: 4 !important;
	padding: 3px;
}

.playlist_card:hover {
	text-decoration: none;
}

.playlist_card>.card-body {
	padding: .1rem !important;
}

.playlist_card_active {
	background-color: var(--spotify-green);
	border-color: var(--spotify-green);

}

.playlist_card_inactive {
	/* background-color: var(--spotify-white); */
	background: none;

}



#selected_song_list {
	padding-bottom: 4rem;

}


#selected_song_list > .list-group-item {
	color: var(--spotify-white);
	background: var(--spotify-grey);
}

#sn-null {
	color: dimgrey!important;
}


.footer-area {
	background: var(--spotify-black);
	padding-top: .5rem;
	min-height: 4rem;
}

.footer-area>.progress>.progress-bar {
	background-color: var(--spotify-green);

}


.now_playing_progress {
	color: var(--spotify-green);
}

.footer-area>.row>.btn-group > .play_toggle?  .btn{
	color: var(--spotify-green);
}

.auth {
	width: 100%;
	max-width: 330px;
	margin:auto;
}
